In [1]:
import pymongo

In [2]:
client= pymongo.MongoClient('mongodb://127.0.0.1:27017')
mydb= client['employee']
empinfo=mydb.employeeinformation

In [3]:
record={
    'firstname':'Uday',
    'lastname': 'Venkatesh',
    'department':'Analytics',
    'qualification':'Masters',
    'age':23
}
empinfo.insert_one(record)

InsertOneResult(ObjectId('665f8d06a9a514f5a8cf09be'), acknowledged=True)

In [7]:
records= [{
    'firstname':'Byresh',
    'lastname': 'N',
    'department':'Business',
    'qualification':'Degree',
    'age':22
},
{
    'firstname':'Bhuvan',
    'lastname': 'Gowda',
    'department':'Computer Science',
    'qualification':'Bachelors',
    'age':23
},
{
    'firstname':'Nandeesh',
    'lastname': 'Mudugal',
    'department':'Electrical',
    'qualification':'Bachelors',
    'age':23
},
{
    'firstname':'Uday',
    'lastname': 'chintal',
    'department':'Electrical',
    'qualification':'Bachelors',
    'age':23
}]

In [8]:
empinfo.insert_many(records)

InsertManyResult([ObjectId('6660c90ea9a514f5a8cf09c0'), ObjectId('6660c90ea9a514f5a8cf09c1'), ObjectId('6660c90ea9a514f5a8cf09c2'), ObjectId('6660c90ea9a514f5a8cf09c3')], acknowledged=True)

In [12]:
# only prints the first row of the table.
empinfo.find_one()

{'_id': ObjectId('665f8d06a9a514f5a8cf09be'),
 'firstname': 'Uday',
 'lastname': 'Venkatesh',
 'department': 'Analytics',
 'qualification': 'Masters',
 'age': 23}

In [13]:
#this is to print all the data 
for i in empinfo.find({}):
    print(i)

{'_id': ObjectId('665f8d06a9a514f5a8cf09be'), 'firstname': 'Uday', 'lastname': 'Venkatesh', 'department': 'Analytics', 'qualification': 'Masters', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c0'), 'firstname': 'Byresh', 'lastname': 'N', 'department': 'Business', 'qualification': 'Degree', 'age': 22}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c1'), 'firstname': 'Bhuvan', 'lastname': 'Gowda', 'department': 'Computer Science', 'qualification': 'Bachelors', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c2'), 'firstname': 'Nandeesh', 'lastname': 'Mudugal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c3'), 'firstname': 'Uday', 'lastname': 'chintal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}

In [15]:
## querying the json document based on equality 
# in sql it is : select * from emplyinformation where firstname= 'uday';
for record in empinfo.find({'firstname':'Uday'}):
    print(record)

{'_id': ObjectId('665f8d06a9a514f5a8cf09be'), 'firstname': 'Uday', 'lastname': 'Venkatesh', 'department': 'Analytics', 'qualification': 'Masters', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c3'), 'firstname': 'Uday', 'lastname': 'chintal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}

In [16]:
# querying the json using query operators ($in,$lt,$gt)
for record in empinfo.find({'qualification':{'$in':['Bachelors','Masters']}}):
    print( record)

{'_id': ObjectId('665f8d06a9a514f5a8cf09be'), 'firstname': 'Uday', 'lastname': 'Venkatesh', 'department': 'Analytics', 'qualification': 'Masters', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c1'), 'firstname': 'Bhuvan', 'lastname': 'Gowda', 'department': 'Computer Science', 'qualification': 'Bachelors', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c2'), 'firstname': 'Nandeesh', 'lastname': 'Mudugal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c3'), 'firstname': 'Uday', 'lastname': 'chintal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}

In [18]:
## "and" and query operator 
for record in empinfo.find({'qualification':'Bachelors','age':{'$lt':35}}):
    print(record)

{'_id': ObjectId('6660c90ea9a514f5a8cf09c1'), 'firstname': 'Bhuvan', 'lastname': 'Gowda', 'department': 'Computer Science', 'qualification': 'Bachelors', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c2'), 'firstname': 'Nandeesh', 'lastname': 'Mudugal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c3'), 'firstname': 'Uday', 'lastname': 'chintal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}

In [19]:
## "and" and query operator 
for record in empinfo.find({'$and':[{'firstname':'Uday'},{'age':23}]}):
    print(record)

{'_id': ObjectId('665f8d06a9a514f5a8cf09be'), 'firstname': 'Uday', 'lastname': 'Venkatesh', 'department': 'Analytics', 'qualification': 'Masters', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c3'), 'firstname': 'Uday', 'lastname': 'chintal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}

In [22]:
## "or" and query operator 

for record in empinfo.find({'$or':[{'age':23},{'qualification':'Masters'}]}):
    print(record)

{'_id': ObjectId('665f8d06a9a514f5a8cf09be'), 'firstname': 'Uday', 'lastname': 'Venkatesh', 'department': 'Analytics', 'qualification': 'Masters', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c1'), 'firstname': 'Bhuvan', 'lastname': 'Gowda', 'department': 'Computer Science', 'qualification': 'Bachelors', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c2'), 'firstname': 'Nandeesh', 'lastname': 'Mudugal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}
{'_id': ObjectId('6660c90ea9a514f5a8cf09c3'), 'firstname': 'Uday', 'lastname': 'chintal', 'department': 'Electrical', 'qualification': 'Bachelors', 'age': 23}

## created new collection

In [23]:
inventory=mydb.inventory

In [24]:
inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [25]:
for records in inventory.find({'size': { 'h': 14, 'w': 21,'uom': "cm" }}):
    print(records)

{'_id': ObjectId('66620a74a9a514f5a8cf09c4'), 'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}

In [26]:
inventory.insert_many([
    {"item": "canvas",
     "qty": 100,
     "size": {"h": 28, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "journal",
     "qty": 25,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "mat",
     "qty": 85,
     "size": {"h": 27.9, "w": 35.5, "uom": "cm"},
     "status": "A"},
    {"item": "mousepad",
     "qty": 25,
     "size": {"h": 19, "w": 22.85, "uom": "cm"},
     "status": "P"},
    {"item": "notebook",
     "qty": 50,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "P"},
    {"item": "paper",
     "qty": 100,
     "size": {"h": 8.5, "w": 11, "uom": "in"},
     "status": "D"},
    {"item": "planner",
     "qty": 75,
     "size": {"h": 22.85, "w": 30, "uom": "cm"},
     "status": "D"},
    {"item": "postcard",
     "qty": 45,
     "size": {"h": 10, "w": 15.25, "uom": "cm"},
     "status": "A"},
    {"item": "sketchbook",
     "qty": 80,
     "size": {"h": 14, "w": 21, "uom": "cm"},
     "status": "A"},
    {"item": "sketch pad",
     "qty": 95,
     "size": {"h": 22.85, "w": 30.5, "uom": "cm"},
     "status": "A"}])

InsertManyResult([ObjectId('66622178a9a514f5a8cf09c9'), ObjectId('66622178a9a514f5a8cf09ca'), ObjectId('66622178a9a514f5a8cf09cb'), ObjectId('66622178a9a514f5a8cf09cc'), ObjectId('66622178a9a514f5a8cf09cd'), ObjectId('66622178a9a514f5a8cf09ce'), ObjectId('66622178a9a514f5a8cf09cf'), ObjectId('66622178a9a514f5a8cf09d0'), ObjectId('66622178a9a514f5a8cf09d1'), ObjectId('66622178a9a514f5a8cf09d2')], acknowledged=True)

In [27]:
inventory.update_one(
{"item":"sketch pad"},
{"$set":{"size.uom":"m","status":"P"},
"$currentDate":{"lastModified":True}}
)

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [28]:
inventory.update_many(
    {"qty": {"$lt": 50}},
    {"$set": {"size.uom": "in", "status": "P"},
     "$currentDate": {"lastModified": True}})

UpdateResult({'n': 5, 'nModified': 5, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

In [29]:
inventory.replace_one(
    {"item": "paper"},
    {"item": "paper",
     "instock": [
         {"warehouse": "A", "qty": 60},
         {"warehouse": "B", "qty": 40}]})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

## Mongodb Aggregate And Group

In [34]:
mydatabase= client['Students']
collection=mydatabase['studentscores']
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
collection.insert_many(data)

InsertManyResult([ObjectId('6667658ea9a514f5a8cf09d3'), ObjectId('6667658ea9a514f5a8cf09d4'), ObjectId('6667658ea9a514f5a8cf09d5'), ObjectId('6667658ea9a514f5a8cf09d6'), ObjectId('6667658ea9a514f5a8cf09d7'), ObjectId('6667658ea9a514f5a8cf09d8')], acknowledged=True)

In [36]:
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Subject" : {"$sum" : 1} 
         }} 
    ]) 
for i in agg_result:
    print(i)

{'_id': 'Krish', 'Total Subject': 3}
{'_id': 'Amit', 'Total Subject': 3}

In [43]:
agg_result= collection.aggregate( 
    [{ 
    "$group" :  
        {"_id" : "$user",  
         "Total Marks" : {"$sum" :"$score"} 
         }} 
    ]) 
for i in agg_result: 
    print(i)

{'_id': 'Amit', 'Total Marks': 235}
{'_id': 'Krish', 'Total Marks': 250}

In [44]:
agg_result=collection.aggregate([
   {
      "$group": {
         "_id": '$user',
         "StudentScoreAverage": {
            "$avg": "$score"
         }
      }
   }
])
for i in agg_result: 
    print(i)

{'_id': 'Krish', 'StudentScoreAverage': 83.33333333333333}
{'_id': 'Amit', 'StudentScoreAverage': 78.33333333333333}